:root{
  --black-color:#333333;
  --white-color:#ffff;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto" , "Arial", sans-serif;
  overflow-x: hidden;
}

.container{
  width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img{
  vertical-align: middle;
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), 
  url('../fonts/roboto-v30-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-500.woff') format('woff'); 
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), 
  url('../fonts/roboto-v30-latin-700.woff') format('woff');
}

/* Section header */

.header{
  padding: 45px 0;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__item{
  margin-left: 40px;
}

.header__item:first-child{
  margin-left: 0;
}

.header__link{
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--black-color);
}


/* Section Hero */

.hero{
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero__cover{
  display: flex;
  justify-content: space-between;
}

.hero__info{
  width: 464px;
  padding: 110px 0 254px 0;
}

.hero__wrap{
  width: 447px;
}

.hero__title{
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
  margin-bottom: 24px;
}

.hero__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}

.hero__link{
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  text-transform: uppercase;
  color: var(--white-color);
  padding: 16px 24px;
  background: #0A775F;
  border-radius: 100px;
}

.hero__picture{
  width: 710px;
  position: relative;
}

.hero__picture::before{
  content: "";
  top: -70px;
  left: -80px;
  width: 190px;
  height: 160px;
  position: absolute;
  background-image: url(../images/pocet.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* .hero__images{
  position: absolute;
  z-index: 2;
  top: -80px;
  left: -80px;
} */

/* Style Collection */

.collection{
  
  margin: 20px;
  /* padding-top: 50px; */
  margin-top: 20px;
  position: relative;
}

.collection__info{
  background-image: url(../images/collection.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.collection__title{
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: #000000;
  margin-bottom: 80px;
}

.collection__menu{
  display: flex;
  justify-content: center;
}

.collection__item{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection__item:first-child{
  position: relative;
}
.collection__item:first-child::before{
  content: "";
  width: 402px;
  height: 400px;
  top: -86px;
  left: -416px;
  position: absolute;
  background-image: url(../images/lavf-one.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.collection__item:nth-child(2){
  position: relative;
}
.collection__item:nth-child(2)::after{
  content: "";
  width: 392px;
  height: 477px;
  top: 160px;
  left: 1017px;
  position: absolute;
  background-image: url(../images/lavf-two.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.collection__item:last-child{
  position: relative;
}
.collection__item:last-child::before{
  content: "";
  width: 316px;
  height: 288px;
  top: -48px;
  left: -475px;
  position: absolute;
  background-image: url(../images/lavf-thri.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.collection__item:nth-child(2n){
  flex-flow: row-reverse;
}

.coffee__img{
  width: 450px;
  height: 375px;
  margin-right: 110px;
}

.coffe__margin{
  margin-right: 0;
  margin-left: 110px;
}

.coffe__one{
  width: 100%;
  max-width: 453px;
}

.coffe__two, .coffe__thri{
  width: 100%;
  max-width: 390px;
}

.coffe__four{
  width: 100%;
  max-width: 410px;
}

.collaction__link{
  text-decoration: none;
}

.coffee__title{
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  font-variant: small-caps;
  color: var(--black-color);
}

.coffee__text{
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: var(--black-color);
}


/* collection choose  */

.choose{
  margin: 20px;
  background-image: url(../images/bk-two.png);
  background-repeat: repeat;
  background-size: contain;
  margin-top: 20px;
  padding-top: 50px;
  position: relative;
  z-index: 1;
  margin-bottom: 290px;
}

.choose__info{
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-bottom: 500px;
}

.choose__title{
  font-family: 'Roboto';
  font-style: normal;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  text-transform: uppercase;
  color:var(--white-color);
}

.choose__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color:var(--white-color);
  mix-blend-mode: normal;
  opacity: 0.8;
}



.choose__list{
  width: 1340\px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 2;
  top: 310px;
}

.choose__item{
  position: relative;
}

.choose__item:first-child::before{
  content: "";
  width: 140px;
  height: 144px;
  top: -60px;
  left: -60px;
  position: absolute;
  background-image: url(../images/li-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.free__info{
  width: 100%;
  max-width: 377px;
  margin-top: 28px;
}

.free__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  font-variant: small-caps;
  color:var(--black-color);
  text-transform: uppercase;
  margin: 0;margin-bottom: 10px;
}

.free__text{
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color:var(--black-color);
}

/*  section works  */

.works{
  padding: 50px 0;
  margin:20px;
  background-image: url(../images/bk-thri.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.works__wrap{
  position: relative;
}

.works__wrap::after{
  content: "";
  width: 192px;
  height: 140px;
  top: 33px;
  right: 45px;
  position: absolute;
  background-image: url(../images/ball.png);
  background-repeat: no-repeat;
  background-size: cover;
}



.works__title{
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 80px;
}

.works__box{
  width: 100%;
  max-width: 967px;
  border-bottom: 4px dashed #C99B67;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.box__btn{
  top: 32px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #F8F8F2;
  border: 3px solid #c99b67;
  transition: all 0.3s ease;
}

.box__btn:hover{
  background-color: #438a7b;
}

.box__btn:active{
  background-image: url(../images/bk-thri.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.box__btn:focus{
  background-image: url(../images/bk-thri.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #fffcf8;
}


.works__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;justify-content: space-between;
  margin-bottom: 60px;
}

.enjoy__item{
  width: 433px;
  background-color: var(--white-color);
  padding: 20px 25px 40px 20px;
  transition: all 0.3s ease;
}

.enjoy__blue{
  background-color: #c7eddc;
  
}

.enjoy__span{
  display: block;
  text-align: end;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  font-variant: small-caps;
  color: var(--black-color);
  opacity: 0.8;
  margin-bottom: 45px;
}

.enjoy__wrap{
  width: 331px;
}


.enjoy__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  margin: 0;
  margin-bottom: 10px;
  margin-bottom: 45px;
  text-transform: uppercase;
  color: var(--black-color);
}

.enjoy__text{
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--black-color);
} 

.works__inner{
  display: flex;
  justify-content: center;
  align-items: center;
}


.works__link{
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: var(--white-color);
  padding: 16px 24px;
  background-color:  #C99B67;
  border-radius: 100px;
}

/* About Html */

.hero__inner{
  width: 372px;
  padding-bottom: 0px;
}

.hero__pic{
  height: auto;
}

/* Commit */

.commit{
  margin: 20px 20px 160px 20px;
  background-image:url(../images/collection.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0px 200px 0px;
}

.commit__inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.commit__info::before{
  content: "";
  width: 402px;
  height: 400px;
  top: -160px;
  left: -292px;
  position: absolute;
  background-image: url(../images/lavf-one.svg);
  background-repeat: no-repeat;
  background-size: cover;
}



.commit__info{
  width: 100%;
  max-width: 626px;
}

.commit__title{
  margin: 0;
  margin-bottom:24px ;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  font-variant: small-caps;
  color: #333333;
}

.commit__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--black-color);
}

/* cuality */

.quality{
  padding: 100px 0 118px 0;
  background-image: url(../images/bk-two.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 20px 20px 20px;
}

.cuality__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.quality__picture{
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.quality__info{
  width: 100%;
  max-width: 639px;
  margin-left: 50px;
}

.quality__wrap{
  width: 397px;
}

.cuality__title{
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 59px;
font-variant: small-caps;
text-transform: uppercase;
color: var(--white-color);
}

.quality__text{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: var(--white-color);
}

/* quarter */

.quarter{
  padding: 50px 0px 100px 0px;
  background-image: url(../images/bk-thri.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 20px 50px 20px;
}

.quarter__title{
  margin: 0;
  margin-bottom: 80px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 59px;
text-align: center;
font-variant: small-caps;
text-transform: uppercase;
color: var(--white-color);
}

.quarter__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.quality__item{
  width: 433px;
  height: 396px;
  padding: 45px 55px 40px 20px;
  background-color: #F8F8F2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.title__wrap{
  width: 231px;
}

.quality__link{
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
font-variant: small-caps;
text-transform: uppercase;
color: var(--black-color);
}

.country__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.country__item{
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--black-color);
}

.quality__item:nth-child(1){
  position: relative;
}

.quality__item:nth-child(1)::after{
  content: "";
  width: 120px;
  height: 143px;
  top: 47px;
  right: 56px;
  position: absolute;
  background-image: url(../images/map-united.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.quality__item:nth-child(2){
  position: relative;
}

.quality__item:nth-child(2)::after{
  content: "";
  width: 120px;
  height: 143px;
  top: 47px;
  right: 56px;
  position: absolute;
  background-image: url(../images/map-canada.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.quality__item:nth-child(3){
  position: relative;
}

.quality__item:nth-child(3)::after{
  content: "";
  width: 120px;
  height: 143px;
  top: 47px;
  right: 56px;
  position: absolute;
  background-image: url(../images/map-Australia.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.tel__link{
  text-decoration: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: var(--black-color);
}



/* Create page */

.create__info{
 width: 372px;
 padding: 110px 0 254px 0;
}

.create__works{
  padding: 80px 0;
  margin-bottom: 20px;
}

.create__box{
 margin-bottom: 50px;
}

/* Drink */

.drink{
  margin: 20px 20px 50px 20px;
  background-image: url(../images/collection.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
}

.drink__inner{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.drink__inner::before{
  content: "";
  width: 400px;
  height: 300px;
  top: 74%;
  left: -225px;
  position: absolute;
  background-image: url(../images/lavf-one.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.drink__inner::after{
  content: "";
  width: 390px;
  height: 475px;
  top: 15%;
  right: -325px;
  position: absolute;
  background-image: url(../images/lavf-two.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.drink__left{
 margin-right: 370px;
}

.type__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.type__item{
  margin-bottom: 35px;
}

.type__item:first-child{
  display: inline-block;
  border-bottom:3px dashed#C99B67;
}

.type__link{
  text-decoration: none;
  color: #555555;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
text-transform: uppercase;
font-variant: small-caps;
}

.type__link:hover{
  color: #000000;
}

.drink__right{
  width: 660px;
}

.menu__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item{
  margin-bottom: 60px;
  position: relative;
}

.menu__item:nth-child(1)::after{
  content: "";
  width: 18px;
  height: 11px;
  top: 17px;
  right: -60px;
  position: absolute;
  background-image: url(../images/down.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu__item:nth-child(2){
  position: relative;
}

.menu__item:nth-child(2)::after{
  content: "";
  width: 18px;
  height: 11px;
  top: 17px;
  right: 130px;
  position: absolute;
  background-image: url(../images/down.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu__item:nth-child(3){
  position: relative;
}

.menu__item:nth-child(3)::after{
  content: "";
  width: 18px;
  height: 11px;
  top: 17px;
  right: 20px;
  position: absolute;
  background-image: url(../images/down.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu__item:nth-child(4){
  position: relative;
}

.menu__item:nth-child(4)::after{
  content: "";
  width: 18px;
  height: 11px;
  top: 17px;
  right: 84px;
  position: absolute;
  background-image: url(../images/down.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu__item:nth-child(5){
  position: relative;
}

.menu__item:nth-child(5)::after{
  content: "";
  width: 18px;
  height: 11px;
  top: 17px;
  right: -60px;
  position: absolute;
  background-image: url(../images/down.svg);
  background-repeat: no-repeat;
  background-size: contain;
}



.form__inner{
  display: none;

}

.form__inner_on{
  display: block;
  display: flex;
  justify-content: space-between;
}

.form__input{
  display: none;
}

.form__input{
  display: none;
}

.form__input:checked ~ .form__wrap{
  background-color: #0A775F;
}



.form__label{
  background-color: #C8DED5;
  margin-right: 20px;
}

.form__input:hover{
  background-color: #1e9178;
}

.form__label:hover {
  background-color: #8fc5af;
}

.form__label:hover {
  background-color: #8fc5af;
}

.form__input:checked ~ .form__wrap .form__title{
  color: var(--white-color);
}

.form__input:checked ~ .form__wrap .form__text{
  color: var(--white-color);
}




  


/* .form__label:hover .form__wrap{
  background-color: #7ac5a3;
  transition: all 0.3s ease;
}

.form__label:focus .form__wrap{
  background-color: #0A775F;
  transition: all 0.3s ease;
} */

.menu__title{
  border: none;
  background-color: transparent;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
font-variant: small-caps;
text-transform: uppercase;
color: #000000;
padding: 0;
margin-bottom: 20px;
}

.form__wrap{
  width: 205px;
  /* background-color: #C7DDD3; */
}

.wrap_one{
  padding: 30px 19px 80px 16px;
}

.wrap_two{
 padding: 30px 28px 56px 17px; 
}

.wrap_thri{
  padding: 30px 20px 56px 17px; 
 }

.form__title{
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
font-variant: small-caps;
text-transform: uppercase;
color: #333333;
}

.form__text{
  margin: 0;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #333333;
}


.summary{
  padding: 40px 20px;
  background-color:#C99B67 ;
}

.summary__title{
  margin: 0;
  margin-bottom: 14px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #FFFFFF;
}

.summary__text{
  margin: 0;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 34px;
color: #FFFFFF;
}

.text__dark{
  color: #000000;
}

.drink__cover{
  display: flex;
  justify-content: flex-end;
}

.drink__sub{
  border: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 1px;
font-variant: small-caps;
color: #FFFFFF;
background-color: #0A775F;
padding: 16px 24px;
border-radius: 100px;
margin-top: 20px;
}
















.footer{
  padding: 65px 0;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__img{
  display: block;
}

.footer__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer__item{
  margin-right: 40px;
}

.footer__item:last-child{
  margin-right: 0;
}

.footer__link{
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--black-color);
}

.footer__menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon__item{
  margin-left: 30px;
}

.icon__item:first-child{
  margin-left: 0;
}

